#skills {
    align-items: flex-end;
    color: var(--white);
    font-size: var(--font);
    height: 80vh;
    justify-content: space-around;
    max-width: 17cm;
    padding: 0 0 2% 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#skills div div>img,
#skills div>.iconSkill {
    background-color: aliceblue;
    align-items: flex-end;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 1.3em;
    margin: 0 .3em;
    padding: .1em;
    box-sizing: border-box;
}

#skills div>.iconSkill {
    margin: 0 .3em .1em .3em;
}

#skills-title {
    align-self: flex-start;
    font-size: var(--project-section-tittle-font);
    max-height: var(--project-section-tittle-height);
}

#skills label img {
    cursor: pointer;
    height: 2em;
    z-index: 2;
}

/*Transicion*/


#skills span {
    border-radius: 5px;
    cursor: pointer;
    padding: .2em;
    opacity: 0;
}

#skills>div>div {
    left: 10px;
    position: absolute;
    top: -115vh;
    z-index: -4;
}

#skills input~div {
    animation: elementOut 0.3s;
}

#skills input:checked~span {
    animation: showImg 700ms;
    animation-fill-mode: forwards;
    z-index: 1;
}

#skills input:checked~span {
    background-color: var(--secundary-background);
    color: aliceblue;
    opacity: 1;

}

#skills input:checked~div {
    animation: elementIn 0.8s;
    top: 10px;
}


@keyframes elementIn {
    0% {
        top: -270px;
    }

    100% {
        top: 10px;
    }
}

@keyframes elementOut {
    0% {
        top: 10px;
    }

    50% {
        opacity: 0;
    }

    100% {
        top: -250px;
        opacity: 0;
    }
}

/*animation for showing an image (display block) from smaller to bigger*/
@keyframes showImg {
    0% {
        transform: scale(0);
        translate: 0 -100%;
        transform: translateY()
    }

    80% {
        transform: scale(1.1);
        translate: 0 -30%;
    }

    100% {
        transform: scale(1);
        translate: 0 -30%;
    }
}