#colorChainy {
    background-color: #EBEEFB;
}

#colorMealPrep {
    background-color: #F1F5FD;
}

#colorExpenseEyes {
    background-color: #D5F2C7;
}

#colorAnimalCoords {
    background-color: #F2EFE8;
}

#colorRootPlanner{
    background-color: #FAFAFA;
}

#testuraChess {
    background-image: url("../../../../assets/images/testuraChess.jpeg");
}