@import "../../../assets/variables.scss";

@media (min-width:$phone-view) {
    :root {
        --project-section-tittle-font: 3.4em;
        --project-section-tittle-height: 3.9em;
        --project-section-margin-top: 4%;
        --project-section-tittle-align: left;
        --project-section-tittle-margin-left: 1.3em;
        --project-section-tittle-margin-bottom: 0;
        --project-section-body-height: calc(100% - 2*var(--project-section-tittle-height) - 2*var(--project-section-margin-top));
        --project-section-body-align-items: center;
        --project-list-margin: 3em 0;
    }
}

@media (max-width:$phone-view) {
    :root {
        --project-section-tittle-font: 2.6em;
        --project-section-tittle-height: 3.5em;
        --project-section-margin-top: 0%;
        --project-section-tittle-align: center;
        --project-section-tittle-margin-left: 0;
        --project-section-tittle-margin-bottom: 0.5em;
        --project-section-body-height: calc(100% - 1.1*var(--project-section-tittle-height) - var(--project-section-tittle-margin-bottom));
        --project-section-body-align-items: center;
        --project-section-grow: 0.7;
        --project-list-margin: 0 0 0 0;
    }
}

.project-tag {
    border: 1px solid white;
    border-radius: 12px;
    padding: 5px 1em;
    cursor: pointer;
}

.project-tag:hover {
    background-color: var(--white);
    color: var(--background);
    border-color: var(--white);
}

.project-section {
    height: 100vh;
    width: 100vw;
}

.projects-section-body {
    gap: 10%;
    row-gap: 0;
    justify-content: space-evenly;
    height: var(--project-section-body-height);
    align-items: var(--project-section-body-align-items);
}

.project-section-text {
    flex-basis: 45%;
    flex-grow: var(--project-section-grow);
}

.project-section-tittle {
    font-size: var(--project-section-tittle-font);
    max-height: var(--project-section-tittle-height);
    margin-top: var(--project-section-margin-top);
    margin-bottom: var(--project-section-tittle-margin-bottom);
    margin-left: var(--project-section-tittle-margin-left);
    text-align: var(--project-section-tittle-align);
    padding: 0;
}

.projects-list {
    gap: 8%;
}

.section-description {
    font-size: 1.5em;
    margin-top: 0;
}

.project-section-tags {
    display: flex;
    gap: 2%;
    font-size: 1.2em;
}

.section-tittle {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: '1rem';
}