@media (max-width:600px) {
    :root {
        --arrows-position: 0;
        --arrows-width: 3.5vh;
        --arrows-pading: 1.5vh
    }
}

@media (min-width:600px) {
    :root {
        --arrows-position: 0%;
        --arrows-width: 4vh;
    }
}

.arrow {
    width: var(--arrows-width);
    padding: var(--arrows-pading);
    position: absolute;
    z-index: 2;
    height: 10%;
    cursor: pointer;
    box-sizing: content-box !important;
    position: absolute;
    top: 0;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 0.8;
}

.arrow.left {
    left: var(--arrows-position);
}

.arrow.right {
    right: var(--arrows-position);
    transform: rotate(0deg);
}

.arrow.left img {
    transform: rotate(90deg);
}

.arrow.right img {
    transform: rotate(-90deg);
}

.project-card {
    overflow: hidden;
    width: var(--project-card-width);
    color: var(--secundary-background);
    min-width: var(--min-project-card-width);
    min-height: 400px;
    height: var(--project-card-height);
}

.card {
    border-radius: 40px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.carousel-root, .carousel-root div, .carousel-root img, .slider {
    height: 100%;
}

.carousel-root img{
    object-fit: contain;
}

.dot {
    padding: 5px;
    box-sizing: content-box;
    background-color: var(--secundary-background) !important;
    opacity: 0.6 !important;
}

.dot.selected {
    background-color: #8FD6B1 !important;
    opacity: 1 !important;
}

.project-actions {
    width: 60%;
    margin-top: 3%;
    justify-content: space-evenly;
}

.project-actions>* {
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--background);
    border-radius: var(--border-radius-small);
    height: 2.2em;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.project-actions img {
    height: 100%;
}

.project-link-icon {
    padding: 3.5%;
}

.project-body {
    height: 62%;
    padding: 0 8%;
    box-sizing: border-box;
}

.project-carousel {
    height: 38%;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.project-card .shadow {
    border-radius: 50%;
    height: 2px;
    width: 70%;
    margin-top: 2vh;
}

.project-description {
    font-size: 1.2em;
    line-height: 1.2em;
}

.project-github-link {
    background-color: transparent;
    border: 3px solid var(--background);
}

.project-github-link:hover {
    background-color: var(--background);
}

.project-github-link:hover img {
    filter: brightness(0) invert(100%);
}

.project-icon {
    height: 2.5em;
    margin-left: 5%;
}

.project-tittle {
    font-size: 1.8em;
    letter-spacing: 0.06em;
    font-weight: bolder;
}

.tittle-section {
    width: 100%;
    text-align: center;
}

/*Animacion Desplazamiento Targeta Proyecto*/

input {
    display: none;
}

input:checked~.project-carousel {
    border-radius: 0 0 50px 50px;
    height: 75%;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

input:checked~.project-body {
    height: 25%;
    justify-content: flex-start;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

input:checked~.project-carousel img {
    border-radius: 0 0 50px 50px;
}

input:checked ~ .project-body .description-actions {
    position: relative; 
}

/*Animacion de Icono en Targeta Proyecto*/

.deploy-project-description {
    animation: up-and-down 1s infinite;
    padding: 12px;
}

.down {
    transform: rotate(90deg);
    animation: up-and-down-being-rotated 1s infinite;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes up-and-down-being-rotated {
    0% {
        transform: translateY(0) rotate(180deg);
    }

    50% {
        transform: translateY(-0.5rem) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(180deg);
    }

}