@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
#contactBtns {
    display: flex;
    justify-content: flex-start;
}

#contactBtns>a, #contactBtns>button {
    width: 10vw;
    min-width: 65px;
    height: 6vw;
    min-height: 40px;
    margin-right: 20px;
    background-color: var(--background);
}

#github-icon {
    height: 60%;
}

#mail-icon {
    height: 45%;
}

#about .wrap>* {
    flex-grow: 1;
}

#about-text {
    font-size: var(--font);
    flex-basis: 53%;
    max-width: 17cm;
    padding-right: var(--pading-projec-text);
}

#cv {
    margin-top: 5vh;
}

.email {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.email>div {
    color: rgb(37, 37, 37);
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    transition: top 400ms;
    font-size: var(--small-font);
    font-weight: bolder;
    background-color: var(--green);
}

.email:hover div {
    top: 0;
}

#cv {
    height: 60vh;
}

#cv>img {
    height: 100%;
    border-radius: 5px;
}