@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
.about {
    position: relative;
    color: white;
}

.contactBtns {
    display: flex;
    justify-content: flex-start;
}

.contactBtns>a, .contactBtns>button {
    width: 10vw;
    min-width: 65px;
    height: 6vw;
    min-height: 40px;
    margin-right: 20px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-icon {
    height: 70%;
}

.mail-icon {
    height: 45%;
}

.title {
    margin-top: var(--margin-top-tiltte);
    font-size: var(--title-font);
}

.about .container {
    display: flex;
    flex-wrap: wrap;
}

.about .container>* {
    flex-grow: 1;
    min-width: var(--min-text-width);
}

.about-text {
    font-size: var(--font);
    flex-grow: 1;
    flex-basis: 53%;
    max-width: 17cm;
    padding-right: var(--pading-projec-text);
}

.auxEscher {
    flex-basis: 45%;
}

.cv {
    margin-top: 5vh;
}

.cv>a{

    color: rgb(212, 99, 46);
}

.email {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.email div {
    color: white;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: rgba(0, 55, 128, 0.637);
    position: absolute;
    transition: top 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font);
    font-weight: bolder;
}

.email:hover div {
    top: 0;
}

.skills {
    bottom: 25px;
    flex-basis: 45%;
    height: 50vh;
    max-width: 70vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills>div {
    box-sizing: border-box;
    width: 85%;
    height: 85%;
    max-height: 70vw;
    min-width: 33vh;
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--background);
    padding: var(--skills-padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills:hover>div:nth-child(2) {
    animation-name: toggle;
    animation-fill-mode: forwards;
}

.skills:hover>div:nth-child(1) {
    bottom: 12%;
    right: 10%;
}

.skills>div>div {
    display: grid;
    height: 90%;
    justify-content: center;
    align-content: center;
    width: 90%;
    grid-template-columns: 35% 35%;
    grid-template-rows: 35% 35%;
    box-sizing: border-box;
    gap: var(--skills-gap);
}

.skills>div:nth-child(1) {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    transition: bottom 500ms, right 500ms;
}

.skills>div:nth-child(2) {
    position: absolute;
    bottom: 12%;
    right: 10%;
}

.skills>div>div>img {
    height: 100%;
    width: 100%;
}

.skills>div>.axis {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;
    left: 0%;
}

@keyframes toggle {
    50% {
        bottom: 100%;
    }
    75% {}
    100% {
        bottom: 5%;
        right: 5%;
        z-index: 3;
    }
}

@keyframes toggle2 {
    0% {
        z-index: 3;
    }
    50% {
        bottom: 100%;
    }
    75% {}
    100% {
        bottom: 10%;
        z-index: 1;
    }
}

/*.about
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 7%;

}

.about > *{
    flex-basis: 48%;
    flex-grow: 1;
}


.aboutText{
    flex-grow: 2;
}


.aboutText > p:nth-child(2){
    font-family: Roboto;
    font-size: 1.2rem;
    padding: 0 5%;
    color: white;
}

.aboutText > p:nth-child(3){
    color:#391BF2;
    text-decoration: underline;
    padding: 0 5%;
}

.skills{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    gap: 0;
    padding:  0 2% 0 0;
    box-sizing: border-box;
    height: 70vh;
    min-width: 6cm;
    flex-grow: 1;
    position: relative;
    margin-top:10% ;
}

img{
    height: 35%;
}

.skills >div{
    height: 100%;
    display: flex;
    border:2px solid purple;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.skills > p{
    position: absolute;
    bottom: 100%;
    font-size: 2rem;
    margin: 0;
}*/