body{
  margin: 0;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


p{
  font-family: 'Pattaya';
  font-size: 2em;
  color:rgb(255, 187, 0);
}

section{
  min-height: 100vh;

}

section:nth-child(5) > div{
  height: 100vh;
}


.App{
  overflow-x: hidden;
  position: relative;
}

.backGround{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  flex-flow: wrap-reverse;
  align-content: flex-end;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.backGround0{
  background-color: black;
  height: 625vh;
  width: 1fr;
  flex-grow: 1;
  min-width: 235px;
  z-index: 1;
  top:0;
  position: relative;
}

.backGround1{
  background-color: black;
  height: 625vh;
  flex-basis: 1fr;
  flex-grow: 50;
  min-width: 234px;
  z-index: 1;
}

.backGround2{
  background-color: white;
  height: 9.5vh;
  flex-basis: 450px;
  flex-grow: 1;
  z-index: 2;
}

.progres{
  position: fixed;
  right: 2%;
  top:40%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Pattaya';
  font-size: large;
}

.progres>a{
  color: white;

}
.wrapwithBackground1{
  flex-basis: 450px;
  flex-grow: 1;
}
.wrapwithBackground2{
  flex-grow: 50;
  min-width: 234px;
  flex-basis: 1fr;
}