@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "calc";
  src: url("./fonts/PocketCalculator-qjd.ttf") format("truetype");
}
:root {
  --animation-: 300ms;
  --background: #1D4F97;
  --secundary-background: #06224B;
  --border-radius: 25px;
  --border-radius-small: 9px;
  --width: 90%;
  --title-font: 40px;
  --subtitle-font: 35px;
  --font-color: #b3bbd3;
  --green: #8fd6b1;
  --light-green: #99e5be;
  --phone-view: 800px;
  --min-cv-width: 4.5cm;
  --white: #F8F8F6;
  --min-project-card-width: 230px;
  --font: 1.3em;
  --small-font: 18px;
  --h2-line-height: 28px;
  --project-height: 75vh;
  --project-btn-height: 65%;
  --pading-projec-text: 25px;
  --skills-padding: 30px;
  --skills-gap: 35px;
  --screen-height: 65vh;
  --margin-top-tiltte: 10vh;
  --screen-color: linear-gradient(130deg, var(--green) 75%, var(--light-green) 75%);
  --btns-font: 0.9em;
  --pixelated-face-height: 95%;
}

@media (max-width: 600px) {
  :root {
    --min-text-width: 5cm;
    --input-size: 15px;
    --pixelated-face-padding: 1vh;
    --project-card-width: 31vh;
    --project-card-height: 55vh;
  }
  .calcText {
    justify-content: flex-start;
  }
}
@media (min-width: 600px) {
  :root {
    --min-text-width: 10cm;
    --input-size: 14px;
    --pixelated-face-background: white;
    --pixelated-face-padding: 2vw;
    --project-card-width: 16.5vw;
    --project-card-height: 26vw;
  }
  #calcScreen {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  :root {
    --pixelated-face-height: 60%;
  }
}
@media (max-width: 800px) {
  :root {
    --font: 1.2em;
    --small-font: 8px;
    --h2-line-height: 15px;
    --project-height: 47vh;
    --project-btn-height: 80%;
    --panel-width: 10vh;
    --pading-projec-text: 0;
    --skills-padding: 15px;
    --skills-gap: 20px;
    --screen-height: 63vh;
    --margin-top-tiltte: 5.5vh;
    --screen-color: linear-gradient(105deg, var(--green) 70%, var(--light-green) 70%);
    --btns-font: 0.8em;
    --pixelated-face-height: 45%;
  }
  .calcText div:nth-child(1) {
    font-size: 3.3em;
  }
  .calcText div:nth-child(2) {
    font-size: 1.8em;
    line-height: 0.9em;
  }
  #contactBtns > button,
  #contactBtns > a {
    border: none;
    box-shadow: 0 -1px white, 3px 1px black, -1px 0 black;
    border-radius: 5px;
  }
  .buttons-place {
    padding: 27px 23px;
  }
}
@media (min-width: 800px) {
  .calcText {
    justify-content: center;
  }
  .calcText div:nth-child(1) {
    font-size: 7em;
    line-height: 1em;
  }
  .calcText div:nth-child(2),
  .calcText div:nth-child(3) {
    font-size: 2.2em;
  }
  #contactBtns > button,
  #contactBtns > a {
    border: none;
    box-shadow: 0 -1px white, 5px 3px black, -2px 0 black;
    border-radius: 5px;
  }
  .buttons-place {
    padding: 8vh;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  margin: 0;
}

p {
  line-height: 1.5em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apear {
  animation: apear 600ms;
}

@keyframes apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bold {
  margin-bottom: 0;
  font-weight: bolder;
}

.big-title {
  font-size: var(--project-section-tittle-font);
  max-height: var(--project-section-tittle-height);
  color: var(--white);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.delay-apareance {
  animation: delay-apareance 1.4s;
}

@keyframes delay-apareance {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
  flex-direction: column;
}

.get-up {
  animation: get-up 1.6s;
  position: relative;
}

.get-slowly-up {
  animation: get-slowly-up 700ms;
  animation-timing-function: ease-in;
  position: relative;
}

.get-fastly-up {
  animation: get-slowly-up 500ms;
  animation-timing-function: ease-in;
  position: relative;
}

@keyframes get-up {
  0% {
    top: 25px;
    opacity: 0;
  }
  50% {
    top: 25px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes get-slowly-up {
  0% {
    top: 35px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.get-down {
  animation: get-down 900ms;
  position: relative;
}

@keyframes get-down {
  0% {
    top: -12px;
    opacity: 0;
  }
  50% {
    top: -12px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes get-fastly-up {
  0% {
    top: 12px;
    opacity: 0;
  }
  50% {
    top: 12px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.highlight {
  color: aqua;
}

.img-holder-background {
  background-color: #b3bbd3;
}

.nonselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rotate-hover {
  transition: transform 100ms;
}

.rotate-hover:hover {
  transform: rotate(12deg);
}

.skeleton {
  background: linear-gradient(to bottom, transparent 33.33%, rgba(163, 184, 194, 0.3568627451) 33.33%, rgba(163, 184, 194, 0.3568627451) 66.66%, transparent 66.66%);
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.subtitle {
  font-size: var(--subtitle-font);
  color: var(--font-color);
  text-decoration: none;
  color: #D6DEF8;
}

.top-z-index {
  z-index: 2;
}

.title {
  font-size: var(--title-font);
  color: #d6def8;
  margin-top: var(--margin-top-tiltte);
}

.text-white {
  color: var(--white);
}

.text-centered {
  text-align: center;
}

.transparent {
  opacity: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.white {
  color: #D6DEF8;
}

.w-70 {
  width: 70%;
}

.w-90 {
  width: 90%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full-screen {
  height: 100vh;
  background: 100vw;
}

.w-100 {
  width: 100%;
}

.display-none {
  display: none;
}

._1 {
  order: 1;
}

._2 {
  order: 2;
}

._3 {
  order: 3;
}

._4 {
  order: 4;
}

._5 {
  order: 5;
}

*::-moz-selection {
  color: #1D4F97;
  background-color: white;
}

*::selection {
  color: #1D4F97;
  background-color: white;
}/*# sourceMappingURL=App.css.map */