.calc-btn {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(172, 172, 172);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: var(--project-btn-height);
}

.project {
    position: relative;
    height: var(--project-height);
}



.calc-btn>img {
    height: 100%;
    width: 100%;
}