.calcText {
  text-align: center;
  flex-grow: 4;
  width: 5cm;
  min-width: 8cm;
  flex-direction: column;
  max-height: 90%;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  height: 17vh;
  box-sizing: border-box;
}

.buttons-place {
  background-color: var(--secundary-background);
  width: 90%;
  margin-top: 6vh;
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-family: 'Caladea', serif;
  box-sizing: border-box;
  margin-bottom: 5vh;
}

#calcScreen {
  display: flex;
  background: var(--screen-color);
  flex-wrap: wrap-reverse;
  font-family: "calc", "Calibri";
  width: var(--width);
  overflow: hidden;
  padding: 5%;
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: var(--border-radius);
  height: var(--screen-height);
  color: rgb(20, 20, 20);
  justify-content: center;
}


.contactref {
  border: 1px dashed black;
  border-width: 3px;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 8px;
  width: 2cm;
  align-self: center;
  color: rgb(20, 20, 20);
  text-decoration: none;
  margin-top: 1.5vh;
}

#edIcon {
  height: 70%;
}

#pixelated-face {
  flex-grow: 1;
  min-width: 3cm;
  text-align: center;
}

#pixelated-face>img {
  max-height: 100%;
  background-color: var(--pixelated-face-background);
  border-radius: 30%;
  padding: var(--pixelated-face-padding) 2.5vw;
  box-sizing: border-box;
}

/*ampliar screen*/

#solarPanel>div, #solarPanel>a {
  background-color: hsl(10, 50%, 25%);
  width: 5vw;
  min-width: 1.3cm;
  height: 5vw;
  min-height: 1.3cm;
  margin-left: 1vw;
  border: 1.5px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 5px;
}

#solarPanel>a>img {
  height: 40%;
}

.up {
  position: fixed;
  width: 8vh;
  z-index: 3;
  transition: bottom 800ms;
  padding: 15px;
}

.up>img {
  width: 100%;
}