@media (max-width:600px) {
    :root {
        --arrows-position: 0;
        --arrows-width: 3.5vh;
        --arrows-pading:1.5vh
    }
}

@media (min-width:600px) {
    :root {
        --arrows-position: 5%;
        --arrows-width: 7vh;
    }
}

.arrow {
    width: var(--arrows-width);
    padding: var(--arrows-pading);
    position: absolute;
    z-index: 2;
    top: 40%;
    height: 20%;
    cursor: pointer;
    box-sizing: content-box !important;
}

.arrow:hover {
    opacity: 0.8;
}

.arrow.left {
    transform: rotate(90deg);
    left: var(--arrows-position);
}

.arrow.right {
    right: var(--arrows-position);
    transform: rotate(-90deg);
}

.carousel-root{
    border-radius: 20px;
    overflow: hidden;
}