.description {
    font-size: var(--font);
}

#projects>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8vh;
}

#projects>div>* {
    flex-grow: 1;
    min-width: var(--min-text-width);
    box-sizing: border-box;
}

#projects>div>*:nth-child(1) {
    flex-basis: 45%;
    max-width: 19cm;
    padding-right: var(--pading-projec-text);
}

#projects>div>a:nth-child(2) {
    flex-basis: 50%;
    max-width: 19cm;
}

.project-icon {
    height: 7vh;
    margin-left: 1vh;
}

.project-btn{
    height: 6vh;
    background-color: var(--background);
    padding: 1vh 4vh;
    border-radius: 5px;
    margin-right: 2vh;
    box-sizing: border-box;
}