.title {
    font-size: var(--title-font);
    text-decoration: none;
    color: inherit;
}

.description {
    font-size: var(--font);
}

.projects>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-top: 20vh;
    width: 100%;
}

.projects>div>*{
    flex-grow: 1;
    min-width: var(--min-text-width);
}

.projects>div>*:nth-child(1) {
    flex-basis: 40%;
    max-width: 15.7cm;
}
.projects>div>a:nth-child(2){
    flex-basis: 55%;
    max-width: 19cm;
    height:var(--project-height);
}
