@media (max-width:600px) {
    :root {
        --secondary-project-buttons-height: 3.7vh;
        --image-height: 100%;
        --image-width: 100%;
    }
    .secondary-project>img {
        position: absolute;
        z-index: -1;
    }
    .project-decription {
        color: white;
        background-color: rgba(34, 34, 34, 0.671);
        opacity: 1;
    }
    .project-decription>* {
        width: 80%;
        margin: 0 auto;
    }
}

@media(min-width:600px) {
    :root {
        --secondary-project-buttons-height: 4vh;
        --image-height: 80%;
        --image-width: 38%;
    }
    .project-decription {
        max-width: 35%;
    }
    .secondary-project {
        padding: 0 5%;
    }
}

.secondary-project {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.project-decription {
    height: 100%;
}

.secondary-projec-title {
    font-weight: bolder;
    font-size: 2em;
    color: aqua;
}

.secondary-project button {
    background: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    height: var(--secondary-project-buttons-height);
    margin-left: 2%;
    cursor: pointer;
}

.secondary-project button>img {
    height: 100%;
    color: #00ffff;
    filter: brightness(0) saturate(100%) invert(84%) sepia(83%) saturate(1821%) hue-rotate(102deg) brightness(110%) contrast(101%);
}

.secondary-project>img {
    align-self: center;
    width: var(--image-width) !important;
    height: var(--image-height);
    border-radius: 20px;
}