@media (max-width:600px) {
    :root {
        --footer-links-width: 6vh;
    }
}

@media (min-width:600px) {
    :root {
        --footer-links-width: 8vh;
    }
}

#links a {
    background-color: white;
    border-radius: 50%;
    width: var(--footer-links-width);
    height: var(--footer-links-width);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

#links img {
    height: 50%;
}

#links {
    justify-content: space-evenly;
    width: 100%;
    max-width: 15cm;
    margin: 0 auto;
    margin-top: 5vh;
}

#footer-container hr {
    margin-bottom: 10vh;
}

#footer-container>p:nth-child(2) {
    color: white;
}

#footer-container>p:nth-child(4) {
    float: right;
    margin: 7vh 0 0vh 0;
}